PORT=
JWT_SECRET=
NODE_ENV=development # "development" or "production"
FE_HOST=
BE_HOST=
LOG_FILE_PATH=log.json
BOOT_LOG_FILE_PATH=boot.log.json
MQTT_URL=mqtt://localhost:1883
BE_SECRET=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
