# --------------------------------------------------------------------------------
# system config
# --------------------------------------------------------------------------------

NODE_ENV=development # "development" or "production"

# required: positive integer
PORT=44556

# required: string
JWT_SECRET=

# required
FE_HOST=

# required
BE_HOST=

# required
BE_SECRET=

LOG_FILE_PATH=log.json

BOOT_LOG_FILE_PATH=boot.log.json

# --------------------------------------------------------------------------------
# mqtt
# --------------------------------------------------------------------------------

# required
MQTT_URL=mqtt://localhost:1883

# --------------------------------------------------------------------------------
# database
# --------------------------------------------------------------------------------

DB_HOST=

# required
DB_USER=

# required
DB_PASSWORD=

# required
DB_NAME=

DB_PORT=

# --------------------------------------------------------------------------------
# email
# --------------------------------------------------------------------------------

# required
EMAIL_HOST=

# required
EMAIL_USER=

# required
EMAIL_PASS=

EMAIL_FROM=noreply@siams.com

EMAIL_PORT=

EMAIL_SECURE=


# --------------------------------------------------------------------------------
# blockchain
# --------------------------------------------------------------------------------

# (required)
ETHEREUM_CONTRACT_ADDRESS=

# (required)
ETHEREUM_PROVIDER_URL=http://127.0.0.1:8545

# (required) for testing it should be account 1
ETHEREUM_PRIVATE_KEY=
